@import "fonts";
@import "vars";
@import "global";
@import "components/button";
@import "components/feature";
@import "components/form";
@import "components/header";
@import "components/product";
@import "components/section-head";
@import "components/user";
@import "index-page";


/* del */
.lnr-magnifier {
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}