/* ------------------------------------------FONTS------------- */

/* @font-face {
  font-family: '';
  src: url('../') format('woff2'),
    url('../') format('woff'),
    url('../') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* ------------------------------------------RESETS------------- */

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

/* body {
  font-family: '', sans-serif;
  font-size: ;
} */

a {
  text-decoration: none;
}

/* ------------------------------------------STYLE------------- */