.button {
  margin: 0;
  padding: 0;
  outline: transparent;
  border: none;
  background-color: $blue-text;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;

  &--white {
    background-color: #fff;
    color: $blue-text;
  }

  &--transparent {
    background-color: transparent;
    color: #fff;
    border: 1px solid #ffffff;
  }

  &--medium {
    background-color: #f1f3f6;
    color: #747b86;
    font-size: 15px;
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 4px $hover-2;
  }

  &:hover {
    background-color: transparent;
    box-shadow: 0 0 0 4px $blue-text;
    color: $blue-text;
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba(247, 243, 0, 0.7);
    filter: invert(50%);
  }

  &--white {

    &:hover {
      background-color: transparent;
      box-shadow: 0 0 0 4px #fff;
      color: #fff;
    }
  }

  &--transparent {

    &:hover {
      background-color: #fff;
      box-shadow: 0 0 0 4px $hover-2;
      color: $blue-text;
    }
  }

  &--medium {
    background-color: #f1f3f6;
    color: #747b86;
    font-size: 15px;
    box-shadow: none;
  }
}