.feedback {
  &__title {
    margin-bottom: 29px;
  }

  &__glob {
    position: relative;
    max-width: 1190px;
    margin: 0 auto;
    padding: 25px 25px;
    background-color: transparent;
  }

  &__slider {
    max-width: 1140px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-7px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(67, 67, 67, 0.15);
    background-color: #fff;
    line-height: 50px;
    opacity: 1;
    z-index: 25;
  }

  .swiper-button-prev {
    left: 0px;
    text-align: center;

    &::after {
      content: "prev";
      font-size: 14px;
    }
  }

  .swiper-button-next {
    right: 0px;
    text-align: center;

    &::after {
      content: "next";
      font-size: 14px;
    }
  }

  &__slider-item {
    box-sizing: border-box;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  }

  &__product {
    position: relative;
    width: 555px;
    padding: 48px 40px 46px 38px;
    border-radius: 4px;
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 2px;
      height: 100%;
      background-color: #0674ec;
      border-radius: 1px;
      z-index: 15;
    }
  }

  &__profile {
    display: flex;
    flex-wrap: nowrap;
  }

  &__user {
    align-items: center;
  }

  &__user-pic {
    width: 80px;
    height: 80px;
    margin: 0 19px 6px 0;
  }

  &__user-name {
    font-size: 20px;
  }

  &__user-work {
    display: block;
    margin-top: 8px;
    color: $paragraph-text;
    font-size: 16px;
  }

  &__bubble {
    display: block;
    margin-bottom: 30px;
    width: 57px;
    height: 57px;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    -webkit-line-clamp: 4;
  }

  &__btn {
    display: block;
    width: fit-content;
    margin: 34px auto 0;
    padding: 20px 35px 19px;
  }
}