.start {

  &__items {
    max-height: 561px;
    justify-content: center;
    flex-wrap: nowrap;

  }

  &__item {
    margin: 0;
    padding: 0;
    min-width: 49.8vw;
    flex-basis: 50%;
    height: 100%;
    padding: 100px 0 120px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;

    &:hover {
      box-shadow: none;
    }
  }

  &__img {
    height: 100px;
    margin: 0 0 41px;
  }

  &__title {
    color: #ffffff;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 17px;
  }

  &__text {
    display: block;
    margin: 0 auto 62px;
    max-width: 580px;
    color: #ffffff;
    line-height: 30px;
    @include text-limit;
    -webkit-line-clamp: 2;
  }

  &__btn-left {
    padding: 18px 26px;
  }

  &__btn-right {
    padding: 18px 41px;
  }
}